<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contenuti di Fraseggio</title>
</head>
<body class="flex flex-col min-h-screen">
<header class="flex flex-col">
    <nav>
        <ul class="flex flex-row justify-between w-full">
            <li><a href="{{htmlWebpackPlugin.files.publicPath}}flow.html">Contenuti di flusso</a></li>
            <li><a href="{{htmlWebpackPlugin.files.publicPath}}sectioning.html">Contenuti di sezionamento</a></li>
            <li><a href="{{htmlWebpackPlugin.files.publicPath}}phrasing.html">Contenuti di Fraseggio</a></li>
            <li><a href="{{htmlWebpackPlugin.files.publicPath}}embedded.html">Contenuti integrati</a></li>
            <li><a href="{{htmlWebpackPlugin.files.publicPath}}interactive.html">Contenuti interattivi</a></li>
        </ul>
    </nav>
    <section class="self-end max-w-screen-md">
        <h1 class="text-3xl font-bold">Contenuti di fraseggio</h1>
        <p>I contenuti di fraseggio rappresentano le parti di testo e marcature, come ogni sottoinsieme dei contenuti di flusso, possono essere posizionati ovunque questa categoria è permessa.</p>
    </section>
</header>

<main class="flex-grow">
    <div  class="max-w-screen-lg mx-auto ">
        <section>
            <h2 class="text-2xl font-semibold mb-4">Elemento span</h2>
            <p>L'elemento span è un contenitore generico inline per il contenuto di fraseggio, non esprime alcun significato semantico e può essere utilizzato per questioni di <span class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-violet-600 to-rose-500 italic">stilizzazione di contenuti</span>. L'elemento span è molto simile all'elemento div con l'unica differenza che anziché essere di tipo block è di tipo inline.</p>
        </section>
        <section>
            <h2 class="text-2xl font-semibold mb-4">Elemento strong</h2>
            <p>L'elemento strong indica un contenuto con grande importanza, serietà o urgenza: </p>
            <p><strong>Importante</strong>: l'elemento strong è indice d'importanza, ma non va confuso con i tag <b>bring to attention</b> ed <em>emphasis</em>.</p>
        </section>
        <section>
            <h2 class="text-2xl font-semibold mb-4">Elemento b</h2>
            <p>L'elemento b (bring to attention element, precedentemente bold element) indica un contenuto sul quale si vuole far ricadere l'attenzione, senza che ci sia una necessaria urgenza o importanza: </p>
            <p>L'elemento <b>bring attention</b> serve a veicolare l'attenzione dell'utente, ma non è <strong>urgente</strong>, né <em>enfatizza</em> un concetto.</p>
        </section>
        <section>
            <h2 class="text-2xl font-semibold mb-4">Elemento em</h2>
            <p>L'elemento emphasis indica un contenuto su cui si vuole mettere un accento, può essere innestato, e il grado di innesto definisce la marcatura dell'accento:</p>
            <p>La differenza tra strong, b ed em è <em>molto</em> sottile.</p>
        </section>
    </div>
    <p class="mx-auto w-fit mt-4">Prossima lezione <a href="{{htmlWebpackPlugin.files.publicPath}}embedded.html">Contenuti integrati</a>.</p>
</main>
<footer>
    <div class="grid grid-cols-3 w-full">
        <div class="opacity-0 h-0" aria-hidden="true"></div>
        <div class="opacity-0 h-0" aria-hidden="true"></div>
        <div>
            <a class="text-2xl font-bold" href="/" title="Torna alla home di WCAG Aria Workshop">WCAG Aria Workshop</a>
        </div>
        <div></div>
        <div>
            <dl class="list__wrapper list__wrapper--vertical text-left">
                <dt class="list__title text-xl">Esempi pratici</dt>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}flow.html">Contenuti di flusso</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}sectioning.html">Contenuti di sezionamento</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}phrasing.html">Contenuti di fraseggio</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}embedded.html">Contenuti integrati</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}interactive.html">Contenuti relativi ai moduli</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}keyboard_navigation.html">Navigazione da tastiera</a></dd>
                <dd><a href="{{htmlWebpackPlugin.files.publicPath}}aria.html">Attributi ARIA</a></dd>
            </dl>
        </div>
    </div>
    <p class="text-center">Bitmama, WCAG Aria Workshop 2022</p>
</footer>
</body>
</html>